body{
    background: rgb(0,212,255);
    background: -moz-linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,142,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,142,255,1) 100%);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,142,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d4ff",endColorstr="#008eff",GradientType=1);
}